<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://i.huffpost.com/gen/2205218/images/o-NO-IDEA-DOG-MEME-facebook.jpg</string>
	<string>http://m.memegen.com/5b11tp.jpg</string>
	<string>http://ct.fra.bz/ol/fz/sw/i46/5/2/3/fbz_767f8e1845274cb359d16fede53d0826.jpg</string>
	<string>http://windowsphoneapps.es/wp-content/uploads/2015/05/windows-xp.png</string>
</array>
</plist>
